<div *ngIf="!online"  aria-hidden="true">
  <div class="no-net-container">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 text-center p-5 dhq-payment-success-container">
            <h1 class="dhq-danger-icon">
              <i aria-hidden="true" class="fa fa-refresh fa-spin"></i>
            </h1>
            <h3 class="mt-4 mb-2">No Network Connection</h3>
            <p class="mb-4">There is no network connection, Please make sure you are connected to the Internet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
